{{ define "main" }}
<div class="m-6">
  <article class="prose lg:prose-xl max-w-none">
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}
      <p>{{ . }}</p>
      {{ end }}
    </header>
    {{ .Content }}
  </article>
</div>
{{ end }}