<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en" }}'>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{- if .Description }}
  <meta name="description" content="{{ .Description }}" />
  {{ end -}}
  {{- if .Keywords }}
  <meta name="keywords" content='{{ delimit .Keywords "," }}' />
  {{ end -}}
  {{- if .Params.Author }}
  <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}
  {{ hugo.Generator }}
  {{ partial "head/styles.html" . }}
  {{ partial "head/google-analytics.html" }}
  {{ $menujs := resources.Get "js/menu.js" }}
  <script type="module" src="{{ $menujs.RelPermalink }}" defer></script>
  {{ partial "google-structured-data.html" . }}
</head>

<body class="antialiased font-body">
  {{- partial "header.html" . -}}
  {{- block "header" . }}{{- end }}
  {{- block "main" . }}{{- end }}
  {{- partial "footer.html" . -}}

  {{- partial "dev-size-indicator.html" . -}}
  {{- partial "dev-parameters.html" . -}}
</body>

</html>