@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply inline-block font-display uppercase rounded-md shadow-lg cursor-pointer bg-primary-dark text-gray-100 px-4 py-2 text-xl tracking-wide lg:text-2xl lg:tracking-wider lg:px-6 lg:py-3;
}

.btn:hover {
  @apply opacity-70;
}

.btn-big {
  @apply text-2xl tracking-wider px-6 py-3;
}
