<address>
  <!-- Address -->
  {{ with $.Site.Params.contact.address }}
  <p class="flex items-center justify-center space-x-1">
    <span class="h-4 w-4 text-primary-dark-text">
      {{ partial "icons/globe-alt.svg" }}
    </span>
    <span>{{- $.Site.Title -}}</span>
    <span>{{ . }}</span>
  </p>
  {{ end }}

  <div class="space-x-6 flex justify-center">
    <!-- Phone -->
    {{ with $.Site.Params.contact.phone }}
    <a class="hover:opacity-70" href="tel:{{- . -}}">
      <p class="flex items-center space-x-1">
        <span class="h-4 w-4 text-primary-dark-text">
          {{ partial "icons/phone.svg" }}
        </span>
        <span>{{- . -}}</span>
      </p>
    </a>
    {{ end }}

    <!-- Email -->
    {{ with $.Site.Params.contact.email }}
    <a class="hover:opacity-70" href="mailto:{{- . -}}">
      <p class="flex items-center space-x-1">
        <span class="h-4 w-4 text-primary-dark-text">
          {{ partial "icons/at-symbol.svg" }}
        </span>
        <span>Email</span>
      </p>
    </a>
    {{ end }}
  </div>
</address>