<footer class="bg-primary-dark text-primary-light text-center">

    <!-- Footer Menu Links -->
    {{ if .Site.Menus.footer }}
    <section class="font-display uppercase px-2 py-2">
        {{ partial "footer-menu.html" . }}
    </section>
    {{ end }}

    <!-- Social Links -->
    {{ if .Param "social" }}
    <section class="flex justify-center space-x-2 py-2 px-2">
        {{ partial "footer-social.html" . }}
    </section>
    {{ end }}

    <!-- Contact Links -->
    {{ if .Site.Params.contact.show }}
    <section class="text-sm py-2 px-2">
        {{ partial "contact-info.html" . }}
    </section>
    {{ end }}

    <!-- Agreement -->
    {{ if .Site.Params.agreement.message }}
    <section class="text-sm py-2 px-2">
        {{ safeHTML .Site.Params.agreement.message }}
    </section>
    {{ end }}

    <!-- Copy -->
    <section class="text-xs py-2 px-2">
        {{ with .Site.Params.copy.message }}
        {{ . }}
        {{ else }}
        © {{ now.Format "2006" }} - {{ .Site.Title }}
        {{ end }}
    </section>
</footer>