<header data-controller="mobilemenu" class="bg-primary">
  <div class="px-4 py-5 mx-auto space-y-4 lg:space-y-0 lg:flex lg:items-center lg:justifty-between lg:space-x-10">
    <div class="flex justify-between">
      <a href="{{ .Site.BaseURL }}" class="text-white hover:opacity-70 cursor-pointer">
        <div class="flex items-center">
          {{ partial "logo.html" }}
          <div>
            <h1 class="font-display uppercase text-4xl tracking-tight">
              {{.Site.Title}}
            </h1>
            {{ with .Site.Params.Description }}
            <h2 class="font-display uppercase text-sm -mt-2">{{ . }}</h2>
            {{ end }}
          </div>
        </div>
      </a>
      <!-- responsive-menu -->
      <div class="flex items-center space-x-2 lg:hidden">
        {{ if .Param "social" }}
        <div class="flex flex-row space-x-2">
          {{ partial "header-social.html" . }}
        </div>
        {{ end }}
        {{ if .Site.Menus.main }}
        <button data-action="click->mobilemenu#toggle" aria-label="Afficher le menu" type="button"
          class="relative block text-white hover:opacity-70 focus:text-white focus:outline-none">
          <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <title>Menu</title>
            <path data-mobilemenu-target="open" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
            <path data-mobilemenu-target="close" class="hidden" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        {{ end }}
      </div>
    </div>

    <!-- lg:responsive-menu -->
    <div data-mobilemenu-target="nav"
      class="hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:flex-1 lg:space-x-2">
      {{ if .Site.Menus.main }}
      <div class="flex flex-col space-y-2 lg:space-y-0 lg:flex-row lg:space-x-6 lg:items-center">
        {{ $site := .Site }} {{ range .Site.Menus.main }}
        <a class="text-white uppercase tracking-tight font-medium hover:opacity-70" href="{{.URL}}"
        {{ if ne (urls.Parse (.URL | absURL)).Host (urls.Parse $site.BaseURL).Host }} target="_blank" rel="noreferrer" {{ end }}>
          <span class="flex items-start space-x-1">
            <span>{{ .Name }}</span>
            {{ if ne (urls.Parse (.URL | absURL)).Host (urls.Parse $site.BaseURL).Host }}
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <title>Lien sortant</title>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
            </span>
            {{ end }}
          </span>
        </a>
        {{ end }}
      </div>
      {{ end }}
      {{ if .Param "social" }}
      <div class="hidden lg:flex lg:flex-row lg:space-x-2">
        {{ partial "header-social.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</header>