{{ define "header" }}
{{ with .Site.Params.alertMessage }}
<div class="bg-secondary text-white text-xl p-4">{{. | markdownify}}</div>
{{ end }}
{{ end }}

{{ define "main" }}
{{- $i := resources.Get (.Param "featured_image") -}}
<img height="1790" width="3190" srcset='{{($i.Resize "300x webp photo").RelPermalink}} 300w, 
  {{($i.Resize "460x webp photo").RelPermalink}} 460w, 
  {{($i.Resize "768x webp photo").RelPermalink}} 768w, 
  {{($i.Resize "1024x webp photo").RelPermalink}} 1024w' src="{{$i.RelPermalink}}"
  alt='{{.Param "featured_image_description" }}' />

<section class="bg-secondary py-8 px-5">
  <div class="text-center">
    <h1 class="text-4xl lg:text-6xl text-gray-100 mb-4 lg:mb-9">{{ .Site.Title }}</h1>
    <article class="prose prose-gray-100 lg:prose-2xl mx-auto">{{ .Content }}</article>
  </div>
  {{ with .Site.GetPage "/homepage" }}
  <ul class="flex justify-center space-x-4 mt-6 list-none">
    {{ range where (.Resources.ByType "page") ".Params.header_menu" true }}
    <li>
      <a class="btn" href="#{{ anchorize .Title }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>

{{ range $i,$e := (.Site.GetPage "/homepage").Resources.ByType "page" }}
{{ $isEven := modBool $i 2 }}
<section class="{{if $isEven}}bg-primary{{else}}bg-secondary{{end}} py-8 px-5" id="{{ anchorize .Title }}">
  <div class="max-w-3xl mx-auto text-gray-100">
    <h2 class="text-3xl lg:text-5xl mb-4 lg:mb-9">{{ .Title }}</h2>
    <article class="prose prose-gray-100 lg:prose-2xl">{{ .Content }}</article>
    {{ with .Params.data }}
    <div class="mt-4 grid grid-cols-1 auto-rows-fr gap-x-8 gap-y-10 lg:grid-cols-2">
      {{ range . }}
      <div class="relative bg-gray-100 rounded overflow-hidden p-2">
        <div class="absolute top-0 left-0 flex items-center justify-center h-full w-12 bg-primary text-white">
          <div class="h-6 w-6">
            {{ partial (printf "icons/%s.svg" .icon) }}
          </div>
        </div>
        <dl>
          <dt>
            <h3 class="text-2xl tracking-wide capitalize ml-16 text-gray-900">{{ .name }}</h3>
          </dt>
          <dd class="ml-16 text-base text-gray-600">
            {{ .value | markdownify }}
          </dd>
        </dl>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}