<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v10.0"
  nonce="x8VRC4t9"></script>
<div class="w-full text-center">
  <div class="fb-page" data-tabs="timeline" data-height="1024" data-href="{{.Get 0}}" data-width="420"></div>
</div>