{{ if .Get "action" }}
<form action="{{ .Get `action` }}" method="POST">
    <div class="grid grid-cols-1 gap-6">
        <div>
            <label class="uppercase font-bold tracking-wide">Votre nom</label>
            <input
                class="mt-1 block w-full rounded-md text-gray-900 bg-gray-200 border-transparent focus:bg-white focus:ring-primary-light focus:border-primary-light"
                type="text" id="name" name="name" aria-labelledby="name" required />
        </div>
        <div>
            <label class="uppercase font-bold tracking-wide">Adresse email</label>
            <input
                class="mt-1 block w-full rounded-md text-gray-900 bg-gray-200 border-transparent focus:bg-white focus:ring-primary-light focus:border-primary-light"
                type="email" id="email" name="email" aria-labelledby="email" required />
        </div>
        <div>
            <label class="uppercase font-bold tracking-wide">
                Votre message
            </label>
            <textarea
                class="mt-1 block w-full h-40 rounded-md text-gray-900 bg-gray-200 border-transparent focus:bg-white focus:ring-primary-light  focus:border-primary-light"
                id="message" name="message" aria-labelledby="message" required></textarea>
        </div>
        <input class="btn" type="submit" value="Envoyer" />
    </div>
</form>
{{ else }}
<p class="">🚧 The shortcode is misused 🚧</p>
<p>One option is to use <a href="//formspree.io">formspree.io</a> as proxy to send the actual email. Each month,
    visitors
    can send you up to one
    thousand emails without incurring extra charges. Visit the Formspree site to get the "action" link and add it to
    your shortcode like this:
</p>
{{end}}